* {
    font-family: 'Montserrat', sans-serif;
}
.main-div{
    background: #151515;
}
.navbar,.navbar * {
    /*font-family: Satoshi, serif;*/
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
}
nav ul{
    background: #FFFFFF0A;
    border-radius: 120px;
}
.dropdown-menu{
    background: #151515;
}
a:hover {
    color:#FC8E51 !important;
}
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-nav {
    gap: 10px;
    padding: 14px 24px;
}
.btn-get-started{
    border: 1px solid transparent;
    border-image: linear-gradient(180deg, #FC8E51 0%, #FA61F9 100%);
    border-image-slice: 1;
    border-radius: 50%;
    margin-left: auto;
}
.main-banner {
    position: relative;
    /*background-image: url("/images/overlay-gray.png"), url("/images/hero-image.png");*/
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-position-y: bottom;
}
.slide {
    position: relative;
    height: 100vh; /* Adjust according to your needs */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.content {
    position: relative;
    z-index: 2;
    color: #FFFFFF;
    height: 100%; /* Make content fill the slide */
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-banner *, .section-details *{
    /*font-family: Outfit, serif;*/
}
.main-banner h1:first-child{
    font-size: 68px;
    font-weight: 400;
    line-height: 81.6px;
    color: #FFFFFF;
}
.main-banner h1:nth-child(2) {
    font-size: 68px;
    background: -webkit-linear-gradient(90.87deg, #FC8E51 27.13%, #FA61F9 68.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    gap: 8px;
}
.main-banner p{
    opacity: 70%;
    color: #FFFFFF !important;
    font-size: 12px;
    font-weight: 400;
    line-height: 28.8px;
}
.btn-start-now{
    background: linear-gradient(180deg, #FC8E51 0%, #FA61F9 100%);
    border-radius: 120px;
}
.div-stats{
    border-radius: 8px 0 0 0;
    background: #FFFFFF1F;
    border: 1px solid transparent;
    border-image: linear-gradient(180deg, #FC8E51 0%, #FA61F9 100%);
    border-image-slice: 1;
}
.new-service-card{
    background: #FFFFFF1F;
    height: 36rem;
    border-radius: 19px;


}
.card-services{
    gap: 16px;
    border-radius: 8px 0 0 0;
    background: #FFFFFF1F;
    border: 1px solid transparent;
    border-image: linear-gradient(180deg, #FC8E51 0%, #FA61F9 100%);
    border-image-slice: 1;
    height: 12rem;
}
.card-services2{
    gap: 16px;
    border-radius: 8px 0 0 0;
    background: #FFFFFF1F;
    border: 1px solid transparent;
    border-image: linear-gradient(180deg, #FC8E51 0%, #FA61F9 100%);
    border-image-slice: 1;
    height: 14rem;
}
.card-text{
    opacity: 70%;
}
.bestMarketing{
    background-image: url("/images/bestMarketing.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.bestMarketing .card-services{
    height: 16rem;
}
.about-bestMarketing .card-services{
      height: 20rem;
  }

.pricingPlan .card-services{
    height: 30rem;
}
.journey{
    background: #FFFFFF1F;
    /*gap: 20px;*/
    border-radius: 24px;
}
.faq-div{
    background: #272727;
    border-radius: 20px;
}
.toggle-content {
    display: none;
    opacity: 80%;
}
.toggle-content.open {
    display: block;
}

.contact-div{
    background: #222222;
    border-radius: 20px;
}
.blog-button{
    padding: 2px 10px 2px 10px;
    border-radius: 16px;
}

input, textarea {
    border-right: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: transparent;
}
input::placeholder, textarea::placeholder {
    color: #ccc;
}

.btn-email{
    background: #FFFFFF0A;
    border-radius: 120px;
}
.btn-square{
    background: linear-gradient(180deg, #FC8E51 0%, #FA61F9 100%);
}
footer, footer *{
    /*font-family: Satoshi, serif;*/
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #FFFFFF;
}
footer h5{
    font-weight: 700;
}
footer p, footer ul li a{
    opacity: 70%;
    color: #FFFFFF !important;
    font-size: 16px;
}
footer ul li a{
    display: inline-block !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}


.about-banner {
    background-image: url("/images/about-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
}
.numbering{
    font-size: 40px;
    font-weight: 400;
}

.animated {
    animation: uplift 3s ease;
}

@keyframes uplift {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.bg-1{
    position: relative;
    background-image: url("/images/overlay-dark-gray.png"), url("/images/bg-1.png");
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-position-y: bottom;
}
.bg-2{
    position: relative;
    background-image: url("/images/overlay-dark-gray.png"), url("/images/bg-2.png");
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-position-y: bottom;
}
.bg-1 p, .bg-2 p{
    line-height: 24.72px;
}
.office-loc{
    height: 300px;
}
.marquee {
    overflow: hidden;
    position: relative;
}

.marquee-inner {
    display: flex;
    width: 100%;
    animation: marquee 15s linear infinite;
}

.stars {
    color: #ffbb33;
}
.testimonial-name {
    font-weight: bold;
}
.gradient-text {
    background: linear-gradient(180deg, #FC8E51 0%, #FA61F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}
@media (max-width: 576px) {
    .main-banner h1:first-child{
        font-size: 25px;
        font-weight: 200;
        line-height: 40px;
    }
    .main-banner p{
        font-size: 15px;

    }
    .new-service-card{
        height: 36rem;
    }
    .remove-padding{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .remove-margin{
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .bestMarketing .card-services, .about-bestMarketing .card-services{
        height: 20.5rem;
    }
    .pricingPlan .card-services{
        height: 35rem;
    }
    .changeToDisplayBlock{
        display: block !important;
    }
    .card-services2{
        height: 22rem;
    }
    .office-loc{
        height: auto;
    }
}
